[submodule "ext/pcg32"]
	path = ext/pcg32
	url = https://github.com/wjakob/pcg32.git
[submodule "ext/ImageEditLib"]
	path = ext/ImageEditLib
	url = https://github.com/ZackMisso/ImageEditLib.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
